@model List<ASPNETMVCFreeCodeCamp.Models.ItemModel>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Serial Number</th>
            <th>Category</th>
            <th>Clients</th>
        </tr>
        </thead>
        <tbody>
            @foreach (ItemModel item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price.ToString("N2")</td>
                    <td>@(item.SerialNumber != null ? @item.SerialNumber.Name : "")</td>
                    <td>@(item.Category != null ? @item.Category.Name : "")</td>
                    <td>
                        @foreach (ItemClientModel itemClientModel in @item.ItemClientModels)
                        {
                            @itemClientModel.Client.Name
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
        </table>

</div>
</body>
</html>